/* styles */

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;

}

.nav-links {
    display: flex;
    gap: 16px;
}

.link {
    padding: 10px 15px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}

.title {
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.text {
    font-size: 48px;
    font-weight: 900;
    width: 300px;
    color: #f9faf8;
}

.container {
    display: flex;
    background-color: #1f2937;
}

.title {
    padding: 100px;
     
}

.subtext {
    width: 375px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 80px;
    background-color: #3882f6;
    border-radius: 4px;
    border: 0;
    padding: 4px;
    color: #f9faf8;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    background-color: gray;

}

.text-box {
    

}

